

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1 class="">Editing Book</h1>

      <div class="edit-box">
        <%= form_for (@book) do |f|  %>
          <div class="row">
            <h4 class="">タイトル</h4>

            <%= f.text_field :title, class: "col-xs-12" %>
          </div>

          <div class="row">
            <h4 class="width">感想</h4>

            <%= f.text_area :body, class: "col-xs-12" %>
          </div>

            <div class="row">
              <%= f.submit 'Update Book', class: "btn btn-primary col-xs-12 " %>
            </div>

            <%= link_to "show", book_path(@book) %>
            |
            <%= link_to "Back", books_path %>
        <% end %>
      </div>
    </div>

  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>

    </div>
  </div>

</footer>


