
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/profile', user: @user %>
      <%= render 'books/new', book: @book %>

    </div>

   <div class="col-xs-9">
      <div class="search-form">
      <%= form_with url: books_search_path, method: (:get) , local: true do |f| %>
        <%= f.text_field :title, placeholder: "本のタイトルを入力してね！" %>
        <%= submit_tag 'Search' %>
      <% end %>

    </div>
    <div id="books_table">
      <%= render "books/books_table", books: @books %> 
    </div>
     
   </div>
  </div>


</div>
